.DS_Store
.atom/
.idea/
.vscode/*
!.vscode/tasks.json
!.vscode/settings.json

.packages
.pub/
.dart_tool/
pubspec.lock
pubspec_overrides.yaml
flutter_export_environment.sh

*.iml

.flutter-plugins
.flutter-plugins-dependencies

.project
.classpath
.settings
.last_build_id


# Misc
.env.local
.env.development.local
.env.test.local
.env.production.local
build/