.flutter-plugins
.flutter-plugin-dependencies
.dart_tool
.idea/workspace.xml
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
/.idea/codeStyles/Project.xml
/.flutter-plugins-dependencies
/.packages
/local.properties
/pubspec.lock
/.idea/libraries/Flutter_Plugins.xml
/flutterfire/
/workspace/pubspec.yaml
/workspace/workspace.iml
/workspace/.flutter-plugins-dependencies
/workspace/.packages
/workspace/pubspec.lock
/workspace/.flutter-plugins
/workspace/.dart_tool/
